name: Auto Release

on:
  pull_request:
    types: [closed]
    branches:
      # this will limit the github actions a bit.
      - main

jobs:
  auto-release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'update-github-languages' && github.repository == 'luxass/github-languages'
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          # needed by the npx bumpp cmd to create a tag
          token: ${{ secrets.AUTO_RELEASE_TOKEN }}
          persist-credentials: true

      - name: setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*

      - name: install dependencies
        run: pnpm install

      - name: build
        run: pnpm run build

      - name: create tag and release
        run: |
          CURRENT_VERSION=$(cat package.json | jq -r '.version')
          PATCH_VERSION=$(echo $CURRENT_VERSION | awk -F. '{printf "%d.%d.%d", $1, $2, $3+1}')

          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

          npx bumpp $PATCH_VERSION --commit --tag --push --yes
        env:
          GITHUB_TOKEN: ${{ secrets.AUTO_RELEASE_TOKEN }}
