name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    environment: npm-registry
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: lts/*

      - name: update npm (oidc)
        run: npm install -g npm@latest

      - run: pnpx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: install dependencies
        run: pnpm install

      - name: build
        run: pnpm run build

      - name: publish to npm
        run: |
          echo "" > .env
          pnpm publish --access public --no-git-checks
        env:
          NPM_CONFIG_PROVENANCE: true

      - name: publish to jsr
        run: npx jsr publish --allow-dirty

      - name: print dirty files
        run: git status --porcelain
